- assert:
    that:
      - remote_exec_remote_root is defined
      - remote_exec_script is defined
      
- name: create destination directory
  file:
    path: "{{ remote_exec_remote_root }}"
    state: directory

- name: resolve remote_exec_local_root
  set_fact:
    remote_exec_local_root: "{{ remote_exec_local_root | default( playbook_dir ) }}"
    
- name: upload files
  synchronize:
    delete: yes
    dest: "{{ remote_exec_remote_root }}"
    src: "{{ remote_exec_local_root | default( playbook_dir ) }}/"
    rsync_opts: "{{ remote_exec_push_opts }}"

- name: run script
  command: "{{ remote_exec_script }}"
  args:
    chdir: "{{ remote_exec_remote_work_dir | default( remote_exec_remote_root ) }}"
  register: script

- name: keep  stdout_lines and stderr_lines in fact
  set_fact:
    stdout_lines: "{{ script.stdout_lines }}"
    stderr_lines: "{{ script.stderr_lines }}"
  when: remote_exec_keep_script_outputs

- name: download results
  synchronize:
    delete: no
    dest: "{{ remote_exec_local_storage_dir | default( remote_exec_local_root) }}"
    src: "{{ remote_exec_remote_root }}/"
    mode: pull
    rsync_opts: "{{ remote_exec_pull_opts }}"
