- assert:
    that:
      - remote_exec_remote_root is defined
      - remote_exec_local_root is defined
      - remote_exec_script is defined

- name: upload files
  synchronize:
    delete: yes
    dest: "{{ remote_exec_remote_root }}"
    src: "{{ remote_exec_local_root }}/"
    rsync_opts: "{{ remote_exec_push_opts }}"

- name: run script
  command: "{{ remote_exec_script }}"
  args:
    chdir: "{{ remote_exec_remote_work_dir | default( remote_exec_remote_root ) }}"

- name: download results
  synchronize:
    delete: no
    dest: "{{ remote_exec_local_storage_dir | default( remote_exec_local_root) }}"
    src: "{{ remote_exec_remote_root }}/"
    mode: pull
    rsync_opts: "{{ remote_exec_pull_opts }}"
